doctype html
html.h-100(lang="ru")
  head
    title="Medical app"
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=getPath('main.css') rel="stylesheet")
  body.h-100
    .container-lg.h-100.p-3
      .h-100#app
    script(src=getPath('main.js'))